<html>

<body>
  <h1>Create Book</h1>
  <form method="POST" action="/create">
    <label for="isbn">ISBN</label>
    <input id="isbn" type="text" name="isbn"></input>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
