<html>

<body>
  <h1>Create Book</h1>
  <form method="POST" action="/create">
    <label for="isbn">ISBN</label>
    <input id="isbn" type="text" name="isbn"></input>
    <br/>
    <label for="quantity">Quantity</label>
    <input id="quantity" type="text" name="quantity"></input>
    <br/>
    <label for="price">Price</label>
    <input id="price" type="text" name="price"></input>
    <br/>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
